
body{
    /* text-align:center; */
    margin:0px;
    background-color: aliceblue;
}

#header {
    /*background-color: aliceblue;*/
    background-color: white;
    padding: 20px;
    height: 60px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    font-family: Verdana, Arial;
    font-size: x-large;
    border-bottom: solid;
    border-color:#0003b1;
}

.slogan{
    text-align:right;
    font-size:small;
    width: 50%;
    display: block;
    margin-left: auto;
    align-items: center;
}

.sidenav {
    margin-top:5px;
    margin-bottom:5px;
    height:80%;
    width:150px;
    background-color:white;
    padding-top:40px;
    padding-left:10px;
    padding-right:10px;
    position:relative;
}

.sidenav a {
    font-family: Verdana, Arial;
    font-size:small;
    font-style:normal;
}
.button {
    background-color: #0003b1;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
}

#package{
    position:absolute;
    bottom:0;
    width:150px;
}
.sidenav a:hover{

}
