body{
    background-color:#111;
}

.sidenav {
    height: 100%;
    width:50px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
}

.sidenave a {
    font-size:100px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}